<div class="container-fluid">
  <div class="row">
    <h3 class="col-xs-12 custom-margin-top text-center">
            TEAMUN全民健身运动大联盟<br/>
            平台服务协议<br/>
            <small>（试行）</small>
            </h3>
    <div class="col-xs-12">
      <div class="custom-line"></div>
    </div>
    <div class="col-xs-12 custom-margin-top">
      <p>
        <strong>总则</strong>
        <br/>
        <br/> 平台全称“TEAMUN全民健身运动大联盟”，简称“TEAMUN运动联盟”域名为www.teamun.com。为了保护所有用户的权益及使用规范，制定本规则。 本平台遵守国家和地方的网络信息安全各项规章制度，禁止一切违法行为。
        <br/> 本平台开放目的是为运动爱好者提供一定的信息和知识，方便用户学习、娱乐、联系。对于未经确定的消息，包括但不限于连锁信件、传销方案、蛊惑性文章、敏感政治问题和未经许可的商业性广告以及一切包含潜在不确定风险的信息均禁止在本平台散布，如有违反，将予以删除、禁号等处罚。
        <br/> 本平台用户仅代表用户个人，所发表言论仅代表用户的个人观点，由此或其他平台内交流方式引起的法律上或经济上的责任，本平台不予承担其中的任何责任。
        <br/> 本规则主要目的是调节用户之间关系。本规则的制定遵循以下原则：
        <br/> ◇维护本平台的运行，促进平台的积极向上发展；
        <br/> ◇维护和保证本平台用户的正常健康的网上交流和信息发布的权益。
        <br/> TEAMUN运动联盟对本规则的全部内容及未尽之处拥有最终解释权。
        <br/>
        <br/>
        <strong>关于本平台</strong>
        <br/>
        <br/> 本平台的目的是为运动爱好者及从业者提供网络信息交流和发布的场所。
        <br/> 本平台有权根据平台规则停止或终止向本平台使用者及用户提供本规则所提及的全部或部分服务。
        <br/> 本平台文章或作品的著作权属于原作者。如转载信息，必须注明“转自：TEAMUN全民健身运动大联盟 www.teamun.com”。
        <br/> 对于本平台用户发布信息涉及的侵权、违法行为，请自行与发布者本人联系，本平台对此不承担责任。
        <br/> 对于本平台用户公开发布的信息，本平台有权随时修改或删除，并保留随时修改或删除本平台用户发布的信息而无须通知本平台用户的权利。
        <br/>
        <br/>
        <strong>平台用户须知</strong>
        <br/>
        <br/> 所有在本平台发言的用户，表明其已阅读并愿意遵守本平台现行的《平台服务协议》以及各项其他管理规定，并接受根据这些规定所实施的相关管理。
        <br/> 本平台用户，即本平台使用者，是指通过网络进入本平台的个人、法人或其它组织。
        <br/> 如用户对平台功能和使用有疑问，或对平台的线上和线下各方面工作有看法和建议，请到“投诉建议”给我们留言。
        <br/> 当用户发布的内容引起任何投诉或法律纠纷时，平台的管理机构保留以任何方式向有关人员或部门公开该用户的身份(或任何我们所了解的关于该用户的资料)的权力。
        <br/>
        <br/>
        <strong>本平台用户不得注册和使用以下帐号：</strong>
        <br/>
        <br/> 含有不文明用语的；
        <br/> ◇攻击、影射、冒充各级国家领导或著名人物，可能产生不良影响的；
        <br/> ◇恶意攻击其他用户，恶意注册或使用与其他本平台其他用户相近的或侮辱性的帐号破
        <br/> ◇坏讨论秩序，侵害其他用户权益，或者可能引起重大误解的；
        <br/> ◇其他含有违反法律、行政法规规定和社会公德内容，可能产生不良后果的。
        <br/>
        <br/>
        <strong>平台处罚办法</strong>
        <br/>
        <br/> 根据《互联网电子公告服务管理规定》中的第九条:任何人不得在电子公告服务系统中发布含有下列内容之一的信息：
        <br/> ◇ 反对宪法所确定的基本原则的；
        <br/> ◇ 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        <br/> ◇ 损害国家荣誉和利益的；
        <br/> ◇ 煽动民族仇恨、民族歧视，破坏民族团结的；
        <br/> ◇ 破坏国家宗教政策，宣扬邪教和封建迷信的；
        <br/> ◇ 散布谣言，扰乱社会秩序，破坏社会稳定的；
        <br/> ◇ 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
        <br/> ◇ 侮辱或者诽谤他人，侵害他人合法权益的；
        <br/> ◇ 与现行社会道德观念相冲突，可能导致违禁信息的讨论；
        <br/> ◇ 含有法律、行政法规禁止的其他内容的。
        <br/> 我们将对违反上述规定的内容在不通知作者的前提下进行删除，对相应账号做出全平台永久停止权限处理。
        <br/>
      </p>
    </div>
  </div>
</div>
