<div class="custom-footer container" ng-hide="pageStructureConfig.hideFooterFlag">
  <div class="row">
    <div class="visible-xs-block col-xs-12 custom-footer-01">
      关于我们 | 服务条款 | 问题反馈 | 帮助中心
    </div>
    <div class="visible-xs-block col-xs-12 custom-footer-02">
      <small><span>© 动势科技. All rights reserved.</span><br/>
		 <span>京ICP备14018385号-1</span></small>
    </div>
    <div class=" col-sm-12 hidden-xs custom-footer-03">
      关于我们 | 服务条款 | 问题反馈 | 帮助中心 &nbsp;&nbsp; <span>© 动势科技. All rights reserved. 京ICP备14018385号-1</span>
    </div>
  </div>
</div>
